<%- include('partials/header.ejs') %>

    <main>
      <section>
        <form action="/searching" method="post">
          <label for="searchBox">search</label>
          <input type="text" id="searchBox" name="searchBox" />
          <button type="submit">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/50eafce059.js"
      crossorigin="anonymous"
    ></script>

<%- include('partials/footer.ejs') %>