h1{
    color: brown;
}

#searchBox {
    position: relative;
    color: blue;
}

#searchBox::before{
content: "summa";
font-family: FontAwesome;
left:-5px;
position:absolute;
top:0;
}

h3::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgb(180, 180, 180);
}